Xft.dpi:	110
Xft.hinting: 	1
Xft.autohint:	0
Xft.hintstyle:  hintslight
Xft.antialias: 	1
Xft.lcdfilter:  lcddefault
Xft.rgba: 	rgb

URxvt*borderColor:  	#fdf6e3
URxvt*underlineColor:   white

URxvt*fading:		0

URxvt*font:             xft:Source Code Pro:pixelsize=12:style=Semibold
URxvt*boldFont:		xft:Source Code Pro:pixelsize=12:style=Bold

xterm*faceName:         Source Code Pro:pixelsize=12

URxvt*saveLines:        12000

URxvt*scrollBar:	    false
URxvt*cursorBlink:	    false
URxvt*cursorUnderline:	    true
URxvt*urlLauncher:	    firefox
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

